USE [BI_Internal_Tempe]
GO
/****** Object:  StoredProcedure [dbo].[custom_dim_organization]    Script Date: 6/7/2018 8:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--==============================================================================
-- DBMS Name      :    SQL Server 2012
-- Script Name    :    custom_dim_organization
-- Description    :    Used to fix the alignment to a certain date. Was used at the end of FY 2018.
-- Generated by   :    WhereScape RED Version 6.8.6.0 (build 160602-123844)
-- Generated for  :    Circle K
-- Generated on   :    Tuesday, May 01, 2018 at 21:30:23
-- Author         :    Eric Sergerie
--==============================================================================
-- Notes / History
--

CREATE PROCEDURE [dbo].[custom_dim_organization]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(256) OUTPUT
, @p_status           integer      OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --============================================================================
  -- Control variables used in most programs
  --============================================================================
  DECLARE
    @v_msgtext            varchar(255)  -- Text for audit_trail
  , @v_sql                nvarchar(255) -- Text for SQL statements
  , @v_set                integer       -- commit set
  , @v_analyze_flag       integer       -- analyze flag
  , @v_step               integer       -- step number
  , @v_insert_count       integer       -- no of records inserted
  , @v_update_count       integer       -- no of records updated
  , @v_change_count       integer       -- Used for history start/end dates
  , @v_delete_count       integer       -- no of records deleted
  , @v_count              integer       -- General counter
  , @v_db_code            varchar(10)   -- Database error code
  , @v_db_msg             varchar(100)  -- Database error message

  --============================================================================
  -- General Variables
  --============================================================================
  DECLARE
    @v_return_status      integer       -- Update result status
  , @v_row_count          integer       -- General row count
  , @v_status             integer       -- General status field
  , @v_getkey_status      integer       -- GetKey procedure status
  , @v_current_datetime   datetime      -- Used for create/update dates
  , @v_current_date       datetime      -- Used to set date to midnight
  --============================================================================
  -- Main
  --============================================================================
  BEGIN TRY

  SET @v_step             = 100
  SET @v_insert_count     = 0
  SET @v_update_count     = 0
  SET @v_delete_count     = 0
  SET @v_change_count     = 0
  SET @v_current_datetime = GETDATE()
  SET @v_current_date     = CONVERT(DATETIME,CONVERT(VARCHAR,GETDATE(),112),112)

  --============================================================================
  --Insert custom code here.
  --Information can be written to the AUDIT LOG via the procedure WsWrkAudit,
  --and to the DETAIL LOG via the procedure WsWrkError
  --============================================================================

  --Create the alignment table. Only stores are changing alignments. Market, Region and Divisions stays the same but the names (desc) can change.
  --Updated with the last statement
  select distinct
	t1.division_id
	,t1.division_desc
	,t1.region_id
	,t1.region_desc
	,t1.market_id
	,t1.market_desc
	,t1.location_id
  into #store_past
  from ds.ds_pdifp_stores t1
	join
	(
		select location_id, max(dss_update_time) as dss_update_time
		from ds.ds_pdifp_stores
		where dss_current_flag = 'N'
		and cast(dss_update_time as date) < '2018-05-01'
		group by location_id
	) as t2
	on t1.location_id = t2.location_id
	and t1.dss_update_time = t2.dss_update_time
  ;

  select distinct
	division_id
	,division_desc
	,region_id
	,region_desc
	,market_id
	,market_desc
  into #market_past
  from #store_past;

  update dw.dim_organization
  set division_id = t2.division_id
	,division_desc = t2.division_desc
	,region_id = t2.region_id
	,region_desc = t2.region_desc
	,market_desc = t2.market_desc
	,market_id = t2.market_id
  from dw.dim_organization t1
	join #store_past t2
		on t1.location_id = t2.location_id
  where t1.location_id in
  (select location_id from #store_past)
  ;

  update dw.dim_organization
  set division_id = t2.division_id
	,division_desc = t2.division_desc
	,region_id = t2.region_id
	,region_desc = t2.region_desc
	,market_desc = t2.market_desc
  from dw.dim_organization t1
	join #market_past t2
		on t1.market_id = t2.market_id
  where t1.market_id in
  (select market_id from #market_past)
  ;

  SELECT @v_update_count = @@ROWCOUNT;

  --============================================================================
  --End of custom code.
  --============================================================================
  SET @v_step = 200

  --============================================================================
  -- Final settings
  --============================================================================

  -- Work out the return message

  IF @v_delete_count > 0
    SET @p_status = -1  -- Return a warning if a delete occured
  ELSE
    SET @p_status = 1

  SET @p_return_msg = 'dim_organization updated. '
    + CONVERT(varchar,@v_insert_count) + ' records added. '
    + CONVERT(varchar,@v_update_count) + ' records updated. '
    + CONVERT(varchar,@v_delete_count) + ' records deleted. '

  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('dim_organization update FAILED'
      + '. Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Num: ' + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,255)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0




GO
